!DOCTYPE html>
<html>
<head>
 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css'>
  <link rel='stylesheet', href='/stylesheets/style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />

  <script src="/bootstrap/js/star-rating.js" type="text/javascript"></script>
  </head>
  
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Loc8c</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="/location/review/new">Add review</a></li> 
      <li><a href="/about">About</a></li> 
    </ul>
  </div>
</nav>
<body>
    <h3>Loc8r was created to help people find places to sit down and get a
bit of work done.</h3>
</body>
</html>